/* Google Default Template */

.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: url(../images/google-logo-small.png) 710px 625px no-repeat;  
  
  background-color: white;  
} 

.slides.template-default article.biglogo {
  background: white url(../images/google-logo.png) 50% 50% no-repeat;
}

/* Google IO Template */

.slides.template-io2011 article.biglogo {
  background: white url(../images/googleio-logo.png) 50% 50% no-repeat;

  background-size: 600px;
}

.slides.template-io2011 > article:not(.nobackground):not(.biglogo) {
  background: url(../images/colorbar.png) 0 600px repeat-x,
              url(../images/googleio-logo.png) 640px 625px no-repeat;

  background-size: 100%, 225px;  

  background-color: white;  
}

/* Quick-Start Informatik Template */

.slides.template-quickstart article.biglogo {
  background: white url(../images/quickstart-logo.png) 50% 50% no-repeat;
}

.slides.template-quickstart > article:not(.nobackground):not(.biglogo) {
    background-image: url('../images/quickstart-logo.png');
    background-position: 790px 610px ;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 80px;
}

/* Namics Camp Template */


.slides.template-ncamp article.biglogo {
}

.slides.template-ncamp > article:not(.nobackground):not(.biglogo) {
}

#footer{
    position: absolute;
    bottom: 30px;
}

.wortmarke-last{
    color: #F9B300;
}

.wortmarke{
    color: #00539E;
    display: none;
}

article > .wortmarke {
    display: block;
}
